@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: "Cabin", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


img{
width: 40px;
height: 40px;
}
a{
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
}